# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will build, test, sign and package a WPF or Windows Forms desktop application
# built on .NET Core.
# To learn how to migrate your existing application to .NET Core,
# refer to https://docs.microsoft.com/en-us/dotnet/desktop-wpf/migration/convert-project-from-net-framework

name: .NET Core Desktop

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  project: TuviSRPLib/TuviSRPLib.sln
  test-project: TuviSRPLib/TuviSRPLib.sln

jobs:

  build:
    strategy:
      matrix:
        configuration: [Debug, Release]
        os: [windows-latest, macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    env:
      configuration: ${{ matrix.configuration }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Install dotnet
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: 9.x

    - name: Build the project
      run: dotnet build ${{ env.project }} --configuration ${{ env.configuration }}

    - name: Execute unit tests
      run: dotnet test ${{ env.test-project }} --configuration ${{ env.configuration }}
